doctype html
html
	head 
		title dirsortjs

	body
		block content

	




	//-[{
		"folder": {
			"name": "a_folder",
			"path": "/Users/simon/Desktop/"
		},
		"tasks": [{
			"name": "Rename a file",
			"path": "/Users/simon/Desktop/a_folder",
			"description": "descriptive text",
			"matchAll": true,
			"interval": 5000, 
			"rules": [{
				"type": "extension",
				"verifier": "contains",
				"reference": "txt"
				},
				{
					"type": "name",
					"verifier": "match",
					"reference": "newName"
				}],
			"event": {
				"type": "rename",
				"newName": "newName.txt"
			}
		}]
		}] 
