doctype html
html
	head 
		title dirsortjs
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="client/main.css")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="client/index.js")
		meta(name="viewport", content="width=device-width, initial-scale=1")

	body.container
		block content

	




	//-[{
		"folder": {
			"name": "a_folder",
			"path": "/Users/simon/Desktop/"
		},
		"tasks": [{
			"name": "Rename a file",
			"path": "/Users/simon/Desktop/a_folder",
			"description": "descriptive text",
			"matchAll": true,
			"interval": 5000, 
			"rules": [{
				"type": "extension",
				"verifier": "contains",
				"reference": "txt"
				},
				{
					"type": "name",
					"verifier": "match",
					"reference": "newName"
				}],
			"event": {
				"type": "rename",
				"newName": "newName.txt"
			}
		}]
		}] 
