		.modal.modal-fade(id="addFolderModal" tabindex="-1" role="dialog" aria-labelledby="addFolderLabel")
			.modal-dialog(role="document")
				.modal-content
					.container-fluid
						.row
							.modal-header
								.button.close(type="button" data-dismiss="modal" aria-label="Close")
									span(aria-hidden="true") &times;
								h4.modal-title(id="addFolderLabel") New Folder
						.row
							.modal-body
								.row
									.col-md-10
										input(type="text" id="folderName" placeholder="Relative path to folder").col-md-12

						.row
							.modal-footer
								button.btn.btn-default(type="button" data-dismiss="modal") Close
								button.btn.btn-primary(type="button" id="folderSave") Save Changes