extends layout

block content
	.row
		button.btn.btn-primary.btn-lg(type="button", id="addFolderButton" data-toggle="modal", data-target="#generic-modal") +
		button.btn.btn-primary.btn-lg(type="button", id="addTaskButton" data-toggle="modal", data-target="#generic-modal") +
	.row
		.modal.modal-fade(id="generic-modal" tabindex="-1" role="dialog" aria-labelledby="addFolderLabel")
			.modal-dialog(role="document")
				.modal-content
					.container-fluid
						.row
							#modal
	#root