doctype html
html
	head 
		title Simon Says
		link(rel="stylesheet", href="../../node_modules/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="../css/main.css")
		script(type="text/javascript" src="./../../static/js/index.js")
		script(src="../../node_modules/bootstrap/dist/js/bootstrap.min.js")
		meta(name="viewport", content="width=device-width, initial-scale=1")
	//-ng-app="SimonSays"
	body.container
		include partials/header.jade
		block content
	

	


	
