block header
	header
		nav.navbar.navbar-default
			.container
				.navbar-header
					a.navbar-brand dirsort.js
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.active
							a Overview
						li
							a(id="foldersButton") Folders
					ul.nav.navbar-nav.navbar-right
						li 
							a Settings
						li
							a History