doctype html
html
	head 
		title Simon Says
		link(rel="stylesheet", href="../../node_modules/bootstrap/dist/css/bootstrap.min.css")
		script(type="text/javascript" src="./../index/app.js")
		script(type="text/javascript" src="./../index/controllers.js")
		script(type="text/javascript" src="./../index/directives.js")
		script(type="text/javascript" src="./../index/index.js")
		//-script(type="text/javascript" src="../../node_modules/angular/angular.js")
		//-script(type="text/javascript" src="../../node_modules/angular-route/angular-route.js")
		script(src="../../node_modules/bootstrap/dist/js/bootstrap.min.js")
		meta(name="viewport", content="width=device-width, initial-scale=1")
	//-ng-app="SimonSays"
	body(ng-app="SimonSays").container
		block content
	

	


	
